#result {
  display: none;
}
.blw {
  background-color: #e5e5e5;
  padding: 2em 0;
  .blck-btn {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
.info {
  margin: 2em;
}
.table-container {
  overflow: auto;
  background-color: #fff;
  h2 {
    margin: 1em;
  }
  table {
    background-color: #fff;
    border-spacing: 0;
    width: 100%;
    tbody {
      tr:nth-child(odd) {
        background-color: #f6f9fd;
      }
      tr:first-child() {
        font-weight: 600;
      }
      td {
        padding: 0.5em;
      }
    }
  }
}

.list-container {
  h2 {
    margin: 0 1em;
  }
}

section.table {
  height: 60vh;
  width: 100%;
  #example_wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    #example_paginate {
      padding: 2em 0;
      display: flex;
      justify-content: flex-end;
      a.paginate_button {
        padding: 0 0.5em;
      }
      a.paginate_button.disabled {
        color: #9e9797;
      }
      span {
        a.paginate_button {
          background: #fff;
          padding: 0.5em;
        }
        a.paginate_button.current {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  table {
    background-color: #fff;
    thead {
      th {
        text-align: left;
        padding: 6px;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #e5e5e5;
        }
        td {
          padding: 6px;
        }
      }
    }
  }
}

section.aggregate {
  width: 100%;
  .arow {
    display: flex;
    justify-content: flex-start;
    .ag-item {
      ul {
        padding-left: 01em;
        margin-right: 4em;
      }
    }
  }
}
