#result {
  display: none;
}
.blw {
  background-color: #e5e5e5;
  padding: 2em 0;
  .blck-btn {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 2em;
  }
}
.info {
  margin: 2em;
}
.table-container {
  overflow: auto;
  background-color: #fff;
  h2 {
    margin: 1em;
  }
  table {
    background-color: #fff;
    border-spacing: 0;
    width: 100%;
    tbody {
      tr:nth-child(odd) {
        background-color: #f6f9fd;
      }
      tr:first-child() {
        font-weight: 600;
      }
      td {
        padding: 0.5em;
      }
    }
  }
}

.list-container {
  h2 {
    margin: 0 1em;
  }
}
