@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.index {
  margin: 0;
  padding: 0 1%;
  font-family: Roboto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  width: 100%;
}

.upload,
.reupload {
  height: 100vh;
  background-color: #e5e5e5;
}

.upload .pagination span,
.reupload .pagination span {
  font-size: 1em;
}

.upload .title h2,
.reupload .title h2 {
  font-size: 2em;
  margin: 0;
}

.upload .upload-box,
.reupload .upload-box {
  background-color: #fff;
  margin-top: 10vh;
}

.upload .upload-box .row,
.reupload .upload-box .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
}

.upload .upload-box .row .up-desc,
.reupload .upload-box .row .up-desc {
  margin-right: 1em;
  font-weight: 600;
}

.upload .upload-box .row .up-desc small,
.reupload .upload-box .row .up-desc small {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1em;
}

.upload .upload-box .row .up-btn label,
.reupload .upload-box .row .up-btn label {
  border: 1px solid #000;
  padding: 0.8em 1em;
  cursor: pointer;
}

.upload .msg-box,
.reupload .msg-box {
  height: 10vh;
  margin: 2vh 2vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success .info {
  padding: 5em;
  background: #fff;
  text-align: center;
}

.success .row.alg-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#result {
  display: none;
}

.blw {
  background-color: #e5e5e5;
  padding: 2em 0;
}

.blw .blck-btn {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.info {
  margin: 2em;
}

.table-container {
  overflow: auto;
  background-color: #fff;
}

.table-container h2 {
  margin: 1em;
}

.table-container table {
  background-color: #fff;
  border-spacing: 0;
  width: 100%;
}

.table-container table tbody tr:nth-child(odd) {
  background-color: #f6f9fd;
}

.table-container table tbody tr:first-child() {
  font-weight: 600;
}

.table-container table tbody td {
  padding: 0.5em;
}

.list-container h2 {
  margin: 0 1em;
}

@media screen and (max-width: 426px) {
  header .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header .row .boxes .blck-btn {
    margin-bottom: 1em;
  }
}

body {
  background-color: #e5e5e5;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 96%;
  margin: 0 auto;
}

.blck-btn {
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border: 0;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

footer {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 96%;
  padding: 2%;
  left: 0;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row .backbtn {
  background: #dddddd;
  border: 1px solid #000000;
  text-decoration: none;
  color: #000;
  padding: 0.5em 2em;
}

footer .row .nextbtn {
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  padding: 0.5em 2em;
}
/*# sourceMappingURL=main.css.map */